/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

@font-face {
  font-family: "Computer Modern";
  src: url(../VRPolygonsAssets/cmunrm.otf);
}
@font-face {
  font-family: "Computer Modern";
  src: url(../VRPolygonsAssets/cmunrb.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url(../VRPolygonsAssets/cmunti.otf);
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url(../VRPolygonsAssets/cmunbl.otf);
  font-weight: bold;
  font-style: italic, oblique;
}

html, body, div, span, applet, object, iframe,
 h2, h3, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

div {
  /* For testing purposes only */
  /* border: 2px solid #222222; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  width: 100%;
}
section {
  padding: 0px 0 0px 0;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Typography
  ========================================
*/
html{
  font-family: "Computer Modern", Palatino;

}
body{
  background:                                       #FFFFFF;

}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.math {
  margin: 0 auto;
  width: 600px;
}

.main {
  padding-top: 160px
}

/*
  ========================================
  Typography
  ========================================
*/

 h3, h4, h5, p {
  margin-bottom: 22px;
}
p{
  font-size 200%;
}
.bold {
  font-weight:bold;
}
.italic {
  font-style: italic
}
a {
  text-decoration:  none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: blue;
}

/*
  ========================================
  Buttons
  ========================================
*/

.w3-button {
  display: block;
}

.btn {
  /* border: 2px solid #222222; */
  padding: 10px 24px;
  font-weight: bold;
  background-color: white;
  display: inline-block;
  margin: 0;
}
.btn-alt {

}
.btn-bak {
  float: left;
}

.bio{
  float: left;
  padding: 25px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

}

/*
  ========================================
  Sidebar
  ========================================
*/

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    /* top: 0; */ /* Stay at the top */
    /* left: 0; */
    background-color: #FFFFFF; /* White */
    /* overflow-x: hidden; */ /* Disable horizontal scroll */
    padding-top: 180px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: blue;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
  padding: 22px 80px 66px 80px;
  align-items: center;
  align-content: center;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Primary header
  ========================================
*/

.title {
  margin: 0 0 0 0;
  /* border: 2px solid #222222; */
  background-color: #FFFFFF; /* White */
  padding: 40px 0 5px 0;
  height: 160px;
  /* margin: 0 auto; */
  z-index: 2; /* Stay on top */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  width: 100%;
  text-align: center;
  display: block;
  color: #222222;

}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer small {
  float: left;
  padding-bottom: 44px;
  padding-top: 44px;
  margin-top: 30px;
  border-top: 2px solid #222222;
}

li {
  margin: 20px 0px 0px 30px;
}
ul{
  align-items: center;
  float: center;
}


/*
  ========================================
  For  columns
  ========================================
*/
.col-1-3 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}
.col-2-3 {
  width: 66.66%;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-2 {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}
.col-full {
  width: 100%;
  display: block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {

}

/*
  ========================================
  For images
  ========================================
*/

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}
